body {
    min-width: 320px;
}

:root {
    --unit: 5px;

    --color-background: #FFFFFF;
    --color-primary: #F04623;
    --color-dark-primary: #212426;
    --color-dark-secondary: #212426;

    --color-text-primary: #484F53;
    --color-text-secondary: #A5ACB1;

    --color-util-success: #0FCD44;
    --color-util-gold: #F5AF2E;

    --font-size-base: 2px;
    --line-height-base: 2px;

    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-weight: normal;

    -webkit-font-feature-settings: "ss02" 1;
    -moz-font-feature-settings:    "ss02" 1;
    -ms-font-feature-settings:     "ss02" 1;
    font-feature-settings: 'ss02' 1;
}

.text--sm {
    font-size: calc(var(--font-size-base) * 8);
    line-height: calc(var(--line-height-base) * 10);
}

.text--md {
    font-size: calc(var(--font-size-base) * 10);
    line-height: calc(var(--line-height-base) * 14);
}

.text--l {
    font-size: calc(var(--font-size-base) * 12);
    line-height: calc(var(--line-height-base) * 18);
}

.text--xl {
    /**
        This comes down to 30px but required is 31 but this is not possible with calc
        calc(var(--font-size-base) * 15 + 1) = X
     */
    font-size: calc(var(--font-size-base) * 15);
    line-height: calc(var(--line-height-base) * 20);
}